.check-space{
  margin-right: 15px;
}

.Absolute-Center {
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
}
.Absolute-Center.is-Responsive {
  width: 50%;
  height: 100%;
  min-width: 600px;
  max-width: 1800px;
  padding: 10px;
}
